@model IEnumerable<wpd2coursework.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Find: </span>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <span class="input-group-btn">
                <input type="submit" class="btn btn-info btn-sm" value="Search" />
            </span>
        </div>
    </div>
}
    

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Sales Assistant")) { 
         <a>@Html.ActionLink("Edit", "Edit", new { id=item.ID }) </a>
         <a>@Html.ActionLink("Cancel", "Delete", new { id=item.ID }) </a>
            }
          <a>  @Html.ActionLink("Details", "Details", new { id = item.ID })</a>
        </td>
    </tr>
}

</table>
